# Environment variables
.env

# Dependencies
node_modules/

# Next.js / Frontend build
.next/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Frontend app (if separate)
my-app/
